body{
    font-family: 'Lato', sans-serif;}
    h2{
       font-weight: 600;
       font-size: 90px;
    }
    p{
       font-weight: 300;
    }
.container{
   margin: 0 auto;
   width: 90%;
}
.flex{
   display: flex;
}
.text-center{
   text-align: center;
}
.columna{
   background: rgb(126, 107, 107);
color: black;
border: 1px solid black;
margin :5px;
padding: 10px;
border-radius: 5px;
box-shadow: 5px 5px 3px rgb(105, 87, 87);
}
.nota{
   font-size: 40px;
   color:aqua;

}

