body{
    font-family: 'Lato', sans-serif;}
    h2{
       font-weight: 500;
    }
    p{
       font-weight: 300;
    }
.container{
   margin: 0 auto;
   width: 90%;
}
.flex{
   display: flex;
}
.text-center{
   text-align: center;
}
.columna{
   background: gray;
color: black;
border: 1px solid black;
margin :5px;
padding: 10px;
border-radius: 5px;
box-shadow: 5px 5px 3px red;
}
.precio{
   font-size: 50px;
   color:aqua;

}
.btn-precio{
   background: rgb(255, 182, 47);
   display: block;
   padding: 10px;
   color: rgb(0, 110, 255);
   text-decoration: none;
   border-radius: 4px;
   margin-bottom: 5px;

}
.btn-precio:hover{
   background: rgb(255, 147, 47);
}

